.loginDiv {
  /* background-image: url("../images/bgg.png"); */

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error {
  color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.title {
  background-color: #26344b;
  color: white;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px !important ;
  font-size: 13px;
  border-bottom: 1px solid black;
}
.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.child {
  width: 200px;
  padding: 5px;
  padding-bottom: 10px;
  margin: 5px;
  border: 1px solid black;
  text-align: center;
  /* height: 140px; */
}
.outerSegment {
  margin-left: 20px !important;
}

i:hover {
  cursor: pointer !important;
}

.child:hover {
  cursor: pointer;
}

.downBg {
  background-color: #e7505a;
}
.upBg {
  background-color: #00cc66;
}

.fixHeight {
  overflow-x: auto;
  height: 450px;
}

.contentParent {
  display: flex;
  justify-content: center;
}
.noMarginButton {
  margin: 0px !important;
  border-radius: 0px !important;
}

.bid {
  border-right: 1px solid black;
  /* text-align: left; */
  /* color: honeydew; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  width: 100px;
  height: 90px;
  /* flex-flow: column; */
}
.bidValue {
  font-size: 15px;
}
.ask {
  width: 100px;
  height: 75px;
  font-family: Arial, Helvetica, sans-serif;

  /* color: rgb(50, 222, 245); */
  font-size: 1.3rem;

  /* border-right: 1px solid black; */
}
.twelveContainer {
  background-color: #f2f2f2;
}

.fourContainer {
  height: 100% !important;
}

.gridContainer {
  margin-left: 20px !important;
}
.navbar {
  background-color: #e1483f !important;
  color: white !important;
  margin-top: -28px !important;
  height: 5px;
}

/* media queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mobileView {
    display: none !important;
  }
  .desktopView {
    display: block !important;
    padding: 5px !important;
  }
  .sidebar {
    height: 200px !important;
    background-color: #e1483f !important;
  }
  .mobileNavbarContainer {
    background-color: #1e1e1e;
    color: #fff;
    margin-top: -30px;
    height: 220px;
  }
  .menuIcon {
    margin-left: 90% !important;
    margin-top: -80px !important;
  }
  .navbarDashboard {
    color: white;
    margin-top: 10px;
    font-size: 15px;
  }
  .navbarDropdown {
    font-size: 15px;
    color: white !important;
  }
  .switchButton {
    background-color: #e1483f;
    color: white;
    height: 40px;
  }
  .navbarTitle {
    font-size: 13px !important;
    color: white !important;
    font-weight: 900 !important;
  }

  .navbarTable {
    background-color: grey !important;
    color: white !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mobileView {
    display: none !important;
  }
  .desktopView {
    display: block !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mobileView {
    display: none !important;
  }
  .desktopView {
    display: block !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mobileView {
    display: block !important;
  }
  .desktopView {
    display: none !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mobileView {
    display: block !important;
  }
  .desktopView {
    display: none !important;
  }
}
